input{
    height:35px;
    font-size: 10px;
    width: 100%;
    border-radius: 0px;
    border: 1px solid #ccc;
    text-align: center;

}

select{
    height:35px;
    font-size: 10px;
    width: 100%;
    border-radius: 0px;
    border: 1px solid #ccc;
    text-align: center;
}